{% extends 'server/base.html' %}

{% block title %}{{user.username}} - {{block.super}}{% endblock %}
{% load static %}
{% load session_tags %}

{% block content %}

<!-- @MAIN CONTENT -->

<div class="col-lg-8 mb-5">
  <h4 class="display-6 text-muted my-0">Welcome to</h4>
  <h1 class="display-1 my-0">Lotus Pvt Ltd</h1>
  <p>Your trusted partner in employee management.</p>
</div>

<section class="container">

  <div class="card p-3 shadow" style="width: 18rem;">
    <div class="display-1 text-center"><i class="fas fa-calendar-days"></i></div>
    <div class="card-body">
      <h5 class="card-title">Date Today</h5>
      <p class="card-text">ISO date today is <b>{{ today }}</b> and current time is <b>{{ time }}</b></p>
    </div>
  </div>

</section>

{% endblock %}
