{% extends 'server/base.html' %}
{% block title %}Welcome to {{block.super}}{% endblock %}
{% load static %}

{% block content %}
<style>
body {
  background-image:url("https://images.pexels.com/photos/273209/pexels-photo-273209.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

  <!-- @MAIN CONTENT -->
<body onclick="window.location.href='{% url 'emp:server_login' %}'" style="cursor: pointer;">
  <div class="container-fluid d-flex align-items-center bg-body-tertiary border rounded-4" style="height:80vh;">

    <div class="col-md-8 p-5">
      <h4 class="display-6 text-muted my-0">Welcome to</h4>
      <h1 class="display-1 my-0">Lotus Pvt Ltd</h1>
    </div>

  </div>
</body>

  {% endblock %}
