{% extends 'emp/base.html' %}

{% block title %}{{user.username}} - {{block.super}}{% endblock %}
{% load static %}
{% load session_tags %}

{% block content %}

<!-- @MAIN CONTENT -->

<h1 class="display-6 mb-4">Work Sessions</h1>

{% if latest_session %}
  {% if not latest_session.end_time %}
  <!-- If there is an ongoing session -->
  <form action="{% url 'emp:end_work' latest_session.id %}" method="post">
    {% csrf_token %}
    <div class="row">
      <input placeholder="{{ latest_session.description }}" class="col form-control form-control-lg me-2" disabled>
      <button class="col-auto btn btn-danger" type="submit"><i class="fas fa-stop me-2"></i> End Work</button>
    </div>
  </form>
  {% else %}
    <!-- latest session is ended -->
    <form action="{% url 'emp:start_work' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <input type="text" name="description" placeholder="Enter description" class="col form-control form-control-lg me-2">
        <button class="col-auto btn btn-primary" type="submit"><i class="fas fa-play me-2"></i> Start Work</button>
      </div>
    </form>
  {% endif %}
{% else %}
  <!-- If no previous sessions (new user) -->
  <form action="{% url 'emp:start_work' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <input type="text" name="description" placeholder="Enter description" class="col form-control form-control-lg me-2">
      <button class="col-auto btn btn-primary" type="submit"><i class="fas fa-play me-2"></i> Start Work</button>
    </div>
  </form>
{% endif %}

<hr class="my-4 py-4"/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Duration</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for day, day_sessions in sessions_grouped_by_day.items %}
    <tr>
      <td colspan="4">
        <strong class="h3"><i class="me-3 mt-4 fas fa-calendar-days"></i>{{ day }}</strong>
        {% if day < today %}
        <button class="btn btn-link text-secondary show-more-btn" data-day="{{ day }}" style="font-size: 12px;">Show More</button>
        {% endif %}
      </td>
    </tr>

    <!-- COLLAPSIBLE SESSIONS -->
    {% for session in day_sessions %}
    <tr scope="row" class="session-row {% if day < today %}collapse{% endif %}" data-day="{{ day }}">
      <td>{{ session.start_time | format_session_time:session.end_time }}</td>
      <td>{{ session.duration | format_duration }}</td>
      <td>
        <form method="post" action="{% url 'emp:update_session_description' session.id %}">
          {% csrf_token %}
          <div class="row">
            <input
              type="text"
              name="description"
              {% if not session.description == "None" %}
              value="{{ session.description }}"
              {% endif %}
              placeholder="Add a description"
              class="col form-control form-control-sm"
            >
            <button type="submit" class="col-auto btn btn-sm btn-outline-info mt-1">Update</button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}

    {% endfor %}
  </tbody>
</table>

<script>
document.querySelectorAll('.show-more-btn').forEach(button => {
  button.addEventListener('click', () => {
    const day = button.getAttribute('data-day');
    const rows = document.querySelectorAll(`.session-row[data-day="${day}"]`);
    rows.forEach(row => row.classList.toggle('collapse'));
    button.textContent = button.textContent === 'Show More' ? 'Show Less' : 'Show More';
  });
});
</script>



{% endblock %}
