{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Lotus Pvt Ltd{% endblock %}</title>

    <script src="{% static 'bootstrap/bootstrap.min.js' %} "></script>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'font-awesome/all.min.css' %} ">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" type="text/css" />
  </head>

  <body data-bs-theme="dark">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
      <div class="container-fluid">
        <!-- LEFT SIDE: BRAND -->
        <a class="navbar-brand" href="/">Lotus Pvt Ltd</a>
        <!-- TOGGLE DARK MODE - LIGHT MODE -->
        <button id="themeToggle" class="mx-2 btn fas"></button>
        <!-- RIGHT SIDE: PROFILE RELATED LINKS -->
        {% if request.user.is_authenticated %}
        <a href="{% url 'emp:user_logout' %}" class="btn btn-danger"><i class="fas fa-right-from-bracket"></i> Logout</a>
        {% else %}
        <a href="{% url 'emp:user_login' %}" class="btn btn-primary"><i class="fas fa-right-to-bracket"></i> Login</a>
        {% endif %}
      </div>
    </nav>

    <div class="container-fluid p-5">
      <div class="container container-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script src="{% static 'scripts/app.js' %}"></script>
  </body>
</html>
